<h1>Campers for Troop <%= h @troop.number %></h1>

<table id="data" class="sortable resizable">
	<tr>
		<th>Name</th>
		<th>Rank</th>
		<th>Age</th>
		<th>Nicoteh</th>

		<% 0.upto(3) do |s| %>
		<th><%= "Session #{s+1}" %></th>
		<% end %>
		<th>Misc Session</th>
	</tr>

	<% for camper in @campers %>
	<tr>
		<td><%=h camper.name %></td>
		<td><%=h camper.rank %></td>
		<td><%=h camper.age %></td>
		<td><%=h(camper.nicoteh ? "Yes" : "No") %></td>

		<% 0.upto(4) do |s| %>
		<td><%=h camper.meritbadge_text(s) %></td>
		<% end %>
		
		<td><%= link_to 'Show', resource_path(camper) %></td>
		<td><%= link_to 'Edit', edit_resource_path(camper) %></td>
		<td><%= link_to 'Delete', resource_path(camper), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>

</table>

<script language="javascript"> TableKit.Sortable.init("data"); </script>


<br/>
<%= link_to 'Add a camper', new_resource_path %><br/>

<p></p>

<%= link_to 'Back to troop', enclosing_resource_path %><br/>
