%p
  %b
    Name:
  = h @camper.name
%p
  %b
    Rank:
  = h @camper.rank
%p
  %b
    Age:
  = h @camper.age
%p
  - 0.upto 4 do |s|
    %p
      %b
        Session
        = s+1
        \:
      = h @camper.meritbadge_text(s)
  %p
    %b
      Outbounds
    = h "#{@camper.meritbadge_text(5)} / #{@camper.meritbadge_text(6)}"
= link_to 'Edit', edit_resource_path
|
= link_to 'Back', resources_path
