<p>
  <b>Name:</b>
  <%=h @camper.name %>
</p>

<p>
  <b>Rank:</b>
  <%=h @camper.rank %>
</p>

<p>
  <b>Age:</b>
  <%=h @camper.age %>
</p>

<p>
  <b>Nicoteh:</b>
  <%=h @camper.nicoteh %>
</p>

<p>

  <% 0.upto 3 do |s| %>
  <p>
  	<b>Session <%= s+1 %>: </b>  <%=h @camper.meritbadge_text(s) %>
  </p>
  <% end %>

  <p>
  	<b>Misc Session: </b>  <%=h @camper.meritbadge_text(4) %>
  </p>

</p>

<%= link_to 'Edit', edit_resource_path %> |
<%= link_to 'Back', resources_path %>
