<h1>Registered Troops</h1>

<table id="data" class="sortable resizable">
	<tr>
		<th>Number</th>
		<th>Scoutmaster</th>
		<th>Session</th>
		<th>Email</th>
	</tr>

	<% for troop in @troops %>
	<% next if troop.hidden %>
	<tr>
		<td><%=h troop.number %></td>
		<td><%=h troop.troopmaster %></td>
		<td><%=h troop.session_text %></td>
		<td><%=h troop.troopmaster_email %></td>
		<td><%= link_to 'Show Report', resource_path(troop) %></td>
		<td><%= link_to 'Edit Troop', edit_resource_path(troop) %></td>
		<td><%= link_to 'Campers', resource_campers_path(troop) %></td>
		<td><%= link_to 'Delete', resource_path(troop), :confirm => 'Are you sure? This will delete the troop and ALL the associated campers.', :method => :delete %></td>
	</tr>
	<% end %>

</table>

<script language="javascript"> TableKit.Sortable.init("data"); </script>

<br />

<%= link_to 'New troop', new_resource_path %>
