<p>
  <b>Number:</b>
  <%=h @troop.number %>
</p>

<p>
  <b>Troopmaster:</b>
  <%=h @troop.troopmaster %>
</p>

<p>
  <b>Email:</b>
  <%=h @troop.email %>
</p>

<p>
  <b>Identity url:</b>
  <%=h @troop.identity_url %>
</p>


<%= link_to 'Edit', edit_troop_path(@troop) %> |
<%= link_to 'Back', troops_path %>
