<h1>Overview of Troop <%=h @troop.number %>:</h1>

<h2>Troop Information</h2>

<p>
	<b>Scoutmaster: </b> <%=h @troop.troopmaster %><br/>
	<b>Scoutmaster Address: </b> <%=h "#{@troop.troopmaster_address}, #{@troop.troopmaster_city}, #{@troop.troopmaster_state} #{@troop.troopmaster_zipcode}" %><br/>
	<b>Scoutmaster Email: </b> <%=h @troop.troopmaster_email %><br/>
	<b>Troop Number: </b> <%=h @troop.number %><br/>
	<b>District: </b> <%=h @troop.district %><br/>
	<b>Council: </b> <%=h @troop.council %><br/>
	<b>Session: </b> <%=h @troop.session_text %><br/>
</p>

<p>
<br/>
</p>

<h2>Registered Campers</h2>

<table id="data" class="sortable resizable">
	<tr>
		<th>Name</th>
		<th>Rank</th>
		<th>Age</th>
		<th>Nicoteh</th>
		<% 0.upto(3) do |s| %>
		<th><%= "Session #{s+1}" %></th>
		<% end %>
		<th>Misc Session</th>
	</tr>

	<% for camper in @troop.campers %>
	<tr>
		<td><%=h camper.name %></td>
		<td><%=h camper.rank %></td>
		<td><%=h camper.age %></td>
		<td><%=h(camper.nicoteh ? "Yes" : "No") %></td>
		
		<% 0.upto(4) do |s| %>
		<td><%=h camper.meritbadge_text(s) %></td>
		<% end %>
	</tr>
	<% end %>

</table>

<script language="javascript"> TableKit.Sortable.init("data"); </script>

<br/>

<%= link_to 'Edit Campers...', resource_campers_path(@troop) %><br/>

<%= link_to 'Edit troop details', edit_resource_path(@troop) %> |
<%= link_to 'Back', troops_path %>
