<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Camp Lakota Merit Badge Signup Form</title>
  <%= stylesheet_link_tag 'default' %>
  <%= stylesheet_link_tag 'tablekit' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'fastinit' %>
  <%= javascript_include_tag 'tablekit' %>
</head>
<body>

<p align="center">
	<%= image_tag("camploco.gif") %>
</p>

<h1 align="center">Camp Lakota 2008<br/>
Merit Badge Signup<br/>
</h1>

<p style="color: green"><%= flash[:notice] %></p>

<p><br/></p>

<div class="content">

<%= yield  %>

</div>

</body>
</html>
